<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap 实例</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>  
  <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
		function add(){
			/* var user = {
				username:$("#username").val(),
				password:$("#password").val()
			}; */
			$.ajax({
				type:"post",
				url:"add",
				data:user = {
						username:$("#username").val(),
						password:$("#password").val()
					},
				dataType:"json",
				success:
					function(msg){
						alert("添加成功");
					},
			});
	}
	</script>

	
</head>
<body>
	<div class="container-fluid" id="yh" >
		<table class="form" id="form">
			<tr>
				<td class="formName">用户名<font face="宋体">*</font></td>
				<td class="formValue">
					<input id="username" name="username" type="text" />
				</td>
			</tr>
			<tr>
				<td class="formName">密码<font face="宋体">*</font></td>
				<td class="formValue">
					<input id="password" name="password" type="text" />
				</td>
			</tr>
			<tr>
				<td class="formName">注册<font face="宋体">*</font></td>
				<td class="formValue">
					<!-- <input type="submit" value="注册" onclick="add()"/> -->
				<button type="button" onclick="add()">注册</button>
				</td>
			</tr>
		</table>
	</div>
	
	
</body>
</html>
