<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title>user注册</title>
   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form role="form">
		<div class="form-group">
			<label for="firstname" class="col-sm-2 control-label">用户名：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="firstname" placeholder="请输入用户名"/>
			</div>
		</div>
		<div class="form-group">
			<label for="firstname" class="col-sm-2 control-label">密码：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="firstname" placeholder="请输入密码"/>
			</div>
		</div>
		<button class="btn btn-block btn-primary">
			注册
		</button>
		<!-- 这里准备新查询后添加数据，加上日期类型的转换 -->
	</form>
</body>
</html>